// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: white;
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Bahnschrift';
}

.border-rounded {
    border-radius: 7px;
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin: auto 10px;

    color: white;
    border-bottom: 3px solid transparent;

    &:hover {
        border-bottom: 3px solid #FAA53F;
    }
}

.navbar-dark {
    .nav-link {
        color: white !important;
    }
}

.bg-black {
    background-color: #00081a !important;
    color: white;
}

.text-orange {
    color: #FAA53F;
}

.bg-orange {
    background-color: #FAA53F;
}

.more {
    font-size: 1rem;
    color: #FAA53F !important;
}

//Show
.carousel-caption {
    bottom: 35%;
    padding-bottom: 0;
    text-align: left;
    right: 3rem !important;
    left: 3rem !important;
    width: 55%;

    @media (max-width: 576px) {
        right: 1rem !important;
        left: 1rem !important;
    }
    @media (max-width: 370px) {
        bottom: 27% !important;

    }

    h1 {
        color: white;
        font-style: normal;
        font-size: 3rem;
        line-height: 2em;

        @media (max-width: 768px) {
            font-size: 2rem;
            line-height: 2rem;
            margin-bottom: 10px;
        }
    }

    h4 {
        @media (max-width: 576px) {
            font-size: 1rem;
        }
    }
}

//
//.form-control {
//    background-color: $dark;
//    color: white;
//    border: none;
//}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.item {
    position: relative;
    display: block;
    //display: inline-block;
}

.time-badge {
    position: absolute;
    right: 3px;
    top: 3px;
    background: transparentize(black, 0.3);
    letter-spacing: 1px;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px 2px !important;
    font-size: 10px;
}

.new-badge {
    position: absolute;
    left: 3px;
    top: 3px;
    background: #ffd026;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: black;
    padding: 5px 10px 2px !important;
    font-size: 10px;
}

.live-badge {
    position: absolute;
    left: 3px;
    top: 3px;
    background: transparentize(black, 0.3);
    letter-spacing: 1px;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px 2px !important;
    font-size: 10px;
}

.blinking {
    animation: blinkingText 1.2s linear infinite;
}

@keyframes blinkingText {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.carousel-control-prev, .carousel-control-next {
    width: 5% !important;
}

.socials {
    margin-left: 1rem;

    .nav-link {
        margin: auto 0 !important;
        font-size: 1.5rem !important;

        &:hover {
            color: #ffd026 !important;
            border-color: transparent !important;
        }
    }
}

#footer {
    text-transform: uppercase;

    a {
        line-height: 1.8rem;
        //text-transform: uppercase;
    }
}

.description {
    font-size: 0.7rem;
}

a {
    color: black;

    &:hover {
        color: black;
        text-decoration: none;
    }
}

.btn {
    text-transform: uppercase;
}

.btn-orange {
    background-color: #ffd026 !important;
}
